{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 80,
  "proseWrap": "always",

  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
